* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: rgb(40, 40, 40);
  }
  
  .medals-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px;
  }
  
  table {
    width: 100%;
    max-width: 800px;
    border-collapse: separate;
    border-spacing: 0 10px; 
    margin: 0 auto;
    background-color: transparent;
  }
  
  th, td {
    padding: 15px;
    text-align: center;
  }
  
  th {
    color: #020344;
    text-align: left;
    background-color: #f5f5f5; 
  }
  
  tbody tr {
    background: white; 
    border-radius: 10px; 
  }
  
  .flex-cell {
    display: flex;
    align-items: center;
    text-align: left; 
  }
  
  .flex-cell img {
    width: 40px; 
    height: auto; 
    margin-right: 10px; 
  }
  
  .medal-count {
    position: relative; 
  }
  
  .medal-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    line-height: 1;
  }
  
  .gold {
    background-color: #fbc869;
  }
  
  .silver {
    background-color: #bdb9b9;
  }
  
  .bronze {
    background-color: #dcb388;
  }
  
  @media (max-width: 800px) {
    table {
      width: 100%;
    }
  
    th, td {
      padding: 10px;
    }
  
    .flex-cell img {
      width: 30px; 
    }
  
    .medal-circle {
      width: 30px; 
      height: 30px;
    }
  }
  